.todo-list-container {
	min-width: 32rem;
}
.todo-list-container ul {
	list-style-type: none;
	border: 1px solid #008080;
	padding: 1rem;
	border-radius: 0.5rem;
}
.todo-list-container li {
	display: flex;
	justify-content: flex-start;
	text-align: left;
	flex-direction: row;
	text-align: left;
	flex-wrap: wrap;
	padding: 2rem;
}

.todo-list-container li input {
	border: none;
}

.todo-list-container li input[type='hidden'] {
	background-color: #000;
}